.HomeBodyMainContent > ._ttl-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 31px 0; }
  .HomeBodyMainContent > ._ttl-bar > ._ttl {
    font-size: 30px;
    color: #4f4a46;
    letter-spacing: -0.2px; }
  .HomeBodyMainContent > ._ttl-bar > ._sub-ttl {
    color: #666666;
    letter-spacing: -0.1px;
    font-weight: 300;
    font-size: 16px; }

.HomeBodyMainContent > ._body {
  padding-bottom: 31px; }
  .HomeBodyMainContent > ._body ._item {
    padding: 11px 41px;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .HomeBodyMainContent > ._body ._item > ._avtr {
      min-height: 80px;
      min-width: 80px;
      position: relative;
      border: 1px solid #d9d9d9;
      border-radius: 50em;
      margin: 21px 0;
      box-shadow: 0 6px 8px 2px rgba(0, 0, 0, 0.06);
      display: flex;
      align-items: center;
      justify-content: center; }
    .HomeBodyMainContent > ._body ._item > ._ttl {
      font-size: 24px;
      color: #4f4a46;
      text-align: center; }
    .HomeBodyMainContent > ._body ._item > ._sub-ttl {
      color: #777;
      font-size: 16px;
      margin-top: 13px;
      line-height: 1.63;
      text-align: center;
      font-weight: 300; }
    .HomeBodyMainContent > ._body ._item > ._action {
      margin-top: 17px; }
