@keyframes SlideUp {
  from {
    transform: translateY(15px);
    opacity: 0; }
  to {
    transform: translateY(0px);
    opacity: 1; } }

@keyframes HeaderItemHoverAnim {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(1); } }
